@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border {
  border: 10px solid gray;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  padding: 20px 40px;
}

.border-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.tableContainer {
  overflow-y: auto;
  height: 500px;  
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 1.3em;
}

th {
  text-align: start;
  background-color: #A6A6A6;
  font-size: 1.2em;
  padding: 10px 10px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filterIcon {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.filterableHeader {
  transition-duration: 0.7s;
  cursor: pointer;
}

.filterableHeader:hover {
  background-color: #C8C8C8;
}

td {
  padding: 20px;
  border-left: 0px;
  border-right: 0px;
}

.strikeBtnHeader {
  width: 5%;
}

.taskHeader {
  padding-left: 20px;
  width: 50%;
}

.priorityHeader {
  width: 15%;
}

.effortHeader {
  width: 15%;
}

.deleteBtnHeader {
  width: 2%;
}

.priorityHeaderText {
  width: 100%;
  text-align: center;
}

.effortHeaderText {
  width:100%;
  text-align: center;
}

.striked td {
  position: relative;
}

.striked td:before{
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
  pointer-events: none;
}

.row_info {
  text-align: start;
}

.header {
  padding: 10px;
  background-color: #A6A6A6;
  font-weight: 900px;
  border-bottom: 0;
}

.btnContainer {
  height: 100%;
}

.strikeBtn {
  display: flex;
  height: 20px;
  width: 20px;
  align-self: center;
}

.taskText {
  padding: 10px;
}

[contenteditable]:focus {
  outline: 1px solid #808080;
  border-radius: 10px;
}

.taskEffort {
  text-align: center;
  padding: 10px;
}

.deleteTask {
  display: flex;
  height: 20px;
  width: 20px;
}

.priority {
  margin: auto;
  height: 2em;
  width: 3.3em;
  cursor: pointer;
}

.red {
  background-color: #FF6B6B;
}

.yellow {
  background-color: #FFD93D;
}

.green {
  background-color: #6BCB77;
}

.addTask {
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.progressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
}

#tasksCompletionBar {
  width: 70%;
  height: 1.5em;
  accent-color: #808080;
}

.progressTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progressRate {
  margin-right: 10px;
  font-size: 2.2em;
}

.progressText {
  font-size: 1.4em;
}