.addTask-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  height: 45%;
  z-index: 100;
  overflow: hidden;
}

.addTask-header {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
}

.closemodal {
  font-size: 2.5rem;
  position: absolute;
  right: 5%;
  padding-top: 0.5rem;
}

.addTask-popup hr {
  width: 60%;
  margin-top: 0;
}
