@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border {
  border: 10px solid gray;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  padding: 20px 40px;
}

.border-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.tableContainer {
  overflow-y: auto;
  height: 500px;
}

thead {
  position: sticky;
  top: 0px;
  z-index: 1;
}

table {
  position: sticky;
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 1.3em;
}

th {
  text-align: start;
  background-color: #a6a6a6;
  font-size: 1.2em;
  padding: 10px 10px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filterIcon {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

.filterableHeader {
  transition-duration: 0.5s;
  cursor: pointer;
}

.filterableHeader:hover {
  background-color: #c8c8c8;
}

td {
  padding: 20px;
  border-left: 0px;
  border-right: 0px;
}

.subtask {
  z-index: 0;
}

.strikeBtnHeader {
  width: 5%;
}

.taskHeader {
  padding-left: 20px;
  width: 50%;
}

.deadlineHeader {
  width: 15%;
}

.progressHeader {
  width: 15%;
}

.deleteBtnHeader {
  width: 2%;
}

.taskHeaderText {
  width: 100%;
  text-align: start;
}

.deadlineHeaderText {
  width: 100%;
  text-align: center;
}

.progressHeaderText {
  width: 100%;
  text-align: center;
}

.striked {
  font-style: italic;
}

.striked td {
  position: relative;
}

.striked td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
  pointer-events: none;
}

.header {
  padding: 10px;
  background-color: #a6a6a6;
  font-weight: 900px;
  border-bottom: 0;
}

.btnContainer {
  height: 100%;
}

.strikeBtn {
  display: flex;
  height: 20px;
  width: 20px;
  align-self: center;
}

.taskTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskText {
  padding: 10px;
  width: 80%;
}

.subtaskText {
  position: relative;
  left: 40px;
  padding: 10px;
  width: 70%;
}

.subtaskBtnContainers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.addSubtaskBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.addSubtaskBtn {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  font-size: 1.4em;
  transition-duration: 0.3s;
}

.addSubtaskBtn:hover {
  font-size: 1.6em;
}

.subtaskBtn {
  font-size: 1.3em;
  cursor: pointer;
}

.subtaskTypeBtnContainer {
  position: relative;
  left: 40px;
  z-index: 0;
}

[contenteditable]:focus {
  outline: 1px solid #808080;
  border-radius: 10px;
}

.taskProgress {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.deleteTask {
  display: flex;
  font-size: 1.6em;
  transition-duration: 0.3s;
}

.deleteTask:hover {
  color: red;
}

.deadlineContainer {
  height: 100%;
}

.deadline {
  display: flex;
  margin: auto;
  font-size: 1.2em;
  border: 0px;
  text-align: center;
}

.deadline::placeholder {
  color: black;
  border: 0px;
}

.redMonth {
  color: #ff6b6b;
}

.yellowMonth {
  color: #ffd93d;
}

.greenMonth {
  color: #6bcb77;
}

.cb-greenMonth {
  color: #f5793a;
}

.cb-yellowMonth {
  color: #a95aa1;
}

.cb-redMonth {
  color: #0f2080;
}

.addTaskContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 30px;
  width: 50px;
  height: 50px;
}

.addTask {
  justify-self: center;
  align-self: center;
  font-size: 4.2em;
  margin: 10px;
  cursor: pointer;
}

.addTask:hover {
  transition-duration: 0.3s;
  font-size: 4.6em;
}

.progressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
}

#tasksCompletionBar {
  width: 70%;
  height: 1.5em;
  accent-color: #808080;
}

.progressTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progressRate {
  margin-right: 10px;
  font-size: 2.2em;
}

.progressText {
  font-size: 1.4em;
}

@media screen and (max-width: 1024px) {
  .border-month {
    font-size: 3vh;
  }
}
