.popup-hr {
  width: 60%;
  margin-top: 0;
}

.yesterday-tasklist {
  text-align: left;
  size: 100% !important;
}

.low-green {
  background-color: #b7eb8f;
}

.med-orange {
  background-color: #ffd591;
}

.high-red {
  background-color: #ffa39e;
}
