.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.calendarTaskContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.calendarStrikeBtn {
  height: 10px;
  width: 10px;
  margin-top: 6px;
}
.calendarTaskText {
  font-size: 0.75rem;
  padding-left: 10px;
  border-top: 0px;
  padding-top: 0px;
}

.calendarHovered {
  transition-duration: 0.4s;
  background-color: #f0f0f0 !important;
}

.calendar-0- {
  background-color: #b7eb8f;
}

.calendar-1- {
  background-color: #ffd591;
}

.calendar-2- {
  background-color: #ffa39e;
}

.calendar-0-cb {
  background-color: #f5783ab7;
}

.calendar-1-cb {
  background-color: #a95aa1c5;
}

.calendar-2-cb {
  background-color: #0f2080aa;
}
